<h2>See all celebrities below</h2>

{{#each celebrities}}
        <div class="celebrities-container">
           <p>{{name}}</p>
        </div>
    {{else}}
        There are no movies to show
{{/each}}