<h2>New Movie</h2>
<form action="/celebrities/create" method="post">
  <input type="text" name="name"> Name</input>
  <br />
  <input name="genre"> Genre</input>
  <br />
  <input name="plot"> Plot</input>
  <br />
  <input name="Cast"> Cast</input>
  <button type="submit">Submit</button>

</form>